on: [push]

name: Build & Pust to Docker

jobs:
  build_and_test:
    name: Rust project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Set up cargo cache
        uses: actions/cache@v3
        continue-on-error: false
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-
      - name: Install cargo check tools
        run: |
          cargo install --locked cargo-deny || true
          cargo install --locked cargo-outdated || true
          cargo install --locked cargo-udeps || true
          cargo install --locked cargo-audit || true
      - name: Check
        run: |
          cargo deny check
          cargo outdated
          cargo udeps
          rm -rf ~/.cargo/advisory-db
          cargo audit
      - name: Build project
        run: |
          cargo build --release --all-features
      - name: Create release tag-name
        id: release-vars
        run: |
          echo ::set-output name=tag::$(date +'%y.%m.%d-%H%M')
          echo ::set-output name=repo::$GITHUB_REPOSITORY
          echo ::set-output name=name::${GITHUB_REPOSITORY////-}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
      - uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push to GitHub Packages
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          tags: |
            ghcr.io/${{ steps.release-vars.outputs.repo }}/${{ steps.release-vars.outputs.name }}:${{ steps.release-vars.outputs.tag }}
            ghcr.io/${{ steps.release-vars.outputs.repo }}/${{ steps.release-vars.outputs.name }}:latest
          file: ./docker/Dockerfile
          push: true
          labels: |
            vendor="Demius Academius"